<form action="/locations" method="post">
  <label for="cityname">Add a new location</label>
  <input id="cityname" name="cityname" type="text">
  <label for="days">Length of stay in days: </label>
  <input id="days" name="days" type="number">
  <label for="travelWith">Who did you travel with?</label>
  <input id="travelWith" name="travelWith" type="text">
  <button type="submit">Submit</button>
</form>