<h1>Places I've been Details: </h1>

<h2> I visited: @Model.CityName</h2>
<h4>Length of stay - @Model.Days days!</h4>
<h4>Travelled with - @Model.TravelWith</h4>

<a href='/locations/new'>Add another locaiton</a>
<a href='/locations'>View all locations</a>